body{
  background-image: url("white_wall_hash.png");
}
.jumbotron{
  padding-bottom: 20px;
  padding-top: 130px;
  background-color: #ede982;
}
.display-4{
  font-family: 'Righteous', cursive;
  font-size: 70px;
}
.lead{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
footer{
  font-family: 'Shadows Into Light', cursive;
}
.shake-active:hover {
    -webkit-animation-name:              shake;    
    -webkit-animation-duration:          0.5s;
    -webkit-animation-iteration-count:   1;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;
}

 @keyframes shake {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
footer{
  background:#7c57cc;
  color: #f1f1f1;
  position: absolute;
  width: 100%;
  margin-top: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
